<div class="header">
    <img src="././assets/images/cover6.jpg">
    <div class="search">
      <app-search></app-search>
    </div>
    <div class="title">
      <div style="text-align:center">
        <strong>DINAS</strong> 
      </div>
    </div>
  </div>

  

<div class="container">
  <div class="row">
   
    <div class="col-md-2 dinasMenu">
      <button class="btn btn-primary" (click)="onClickProfile()">Profile</button>
      <button class="btn btn-success" (click)="onClickVisiMisi()">Visi Dan Misi</button>
      <button class="btn btn-info" (click)="onClickStruktur()">Struktur</button>
      <button class="btn btn-danger" (click)="onClickKontak()">Kontak</button>
    </div>
    <div class="col-md-10 dinasContent">
      <h2>{{page.title}}</h2>
      <div [innerHTML]="page.content"></div>
    </div>
  </div>
</div>
