<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Tambah Paket Layanan</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="saveItem(form.value)">
    <div class="form-group">
      <label for="agentName">Judul</label>
      <input formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="agentName">Content</label>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>
<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>

