<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ">
          <div class="logo text-center">
              <a [routerLink]="['']">
                  <div class="col-md-12">
                    <img style="width: 50%;margin:20px" src="../../../assets/images/logojw.png" />
                  </div>
                  <h3 class="text-center text-info">Dinas Pariwisata</h3>
                  <h3 class="text-center text-info">Kab. Jayawijaya </h3>
                </a>
            </div>
      </div>
      <div id="login-form" class="col-md-7">
        <h2 class="text-left text-info">Change Password</h2>
        <form [formGroup]="changeForm" class="form" (ngSubmit)="ChangePassword(changeForm.value)">
          <div class="form-group">
            <label for="newPassword" class="text-info">New Password:</label><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="['fas','user']"></fa-icon>
                </span>
              </div>
              <input formControlName='newPassword' type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="text-info">Confirm Password:</label><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="['fas','user']"></fa-icon>
                </span>
              </div>
              <input formControlName='confirmPassword' type="password" class="form-control">
            </div>
          </div>

          <div  class="text-right">
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>
