<div class="header">
  <img *ngIf="!Data.thumb" src="././assets/images/photo1.png">

  <img *ngIf="Data.thumb" [src]="Data.thumb">
  <div class="title">
    <div style="text-align:center">
      <strong>{{Data.title}}</strong>
    </div>
  </div>
</div>

<div class="container" style="padding:20px">
  <div class="row">
    <div class="col-md-8">
      <div class="mainDetail row">
        <div [innerHTML]="Data.content"></div>
      </div>
    </div>
    <div class="col-md-4">
      <app-chat></app-chat>
      <app-statistic></app-statistic>
    </div>
  </div>
</div>



