<div class="list-group">
  <a href="#" class="list-group-item active">Pengunjung</a>
  <a href="#" class="list-group-item">User Online <span class="badge badge-info badge-pill pull-right">{{signalr.statistic.online}}</span></a>
  <a href="#" class="list-group-item">Hari Ini <span class="badge badge-info badge-pill pull-right">{{signalr.statistic.today}}</span></a>
  <a href="#" class="list-group-item">Bulan Ini <span class="badge badge-info badge-pill pull-right">{{signalr.statistic.month}}</span></a>
  <a href="#" class="list-group-item">Tahun Ini  <span class="badge badge-info badge-pill pull-right" >{{signalr.statistic.year}}</span></a>
</div>
