<div class="header">
  <img  src="././assets/images/new-year-travel.jpg">
  <div class="title">
    <div style="text-align:center">
      <strong>{{Data.name}}</strong>
    </div>
  </div>
</div>
<div class="container" style="padding:20px;">
  <div class="mainDetail row">
      <div [innerHTML]="Data.profile"></div>
  </div>
</div>
