
<div class="panel orange">
  <div class="panelTitle">
    <div class="titleText">
      Chat
    </div>
    <hr class="panelline" />
  </div>
  <div class="panel-body">
    <ul class="chat"  *ngFor="let item of Datas; index as i">
      <li class="left clearfix" *ngIf="i%2 == 0">
        <div class="chat-body clearfix" >
          <div class="header">
            <strong class="primary-font">{{item.nama}}</strong>
          <div> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> {{Calculate(item.tanggal)}}</small>
          </div>  
          </div>
          <p>
           {{item.pesan}}
          </p>
        </div>
      </li>
      <li class="right clearfix" *ngIf="i%2 == 1">
      
        <div class="chat-body clearfix">
          <div class="header">
              <div> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> {{Calculate(item.tanggal)}}</small>
              </div>  
            <strong class="pull-right primary-font">{{item.nama}}</strong>
          </div>
          <p>
           {{item.pesan}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input id="btn-input" [(ngModel)]="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
      <span class="input-group-btn">
        <button (click)="sendMessage()" class="btn btn-warning btn-sm" id="btn-chat">
          Send
        </button>
      </span>
    </div>
  </div>
</div>

