<h2>PAKET LAYANAN</h2>
<div class="adminpanel">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of layanans">
      <div class="panel border box-shadow sm-2">
        <div class="panelBody ">
          <div class="imgBody">
            <img [src]="item.thumb">
            <div class="menuIcon" placement="bottom-right" ngbDropdown #myDrop="ngbDropdown">
              <a class="btn" id="dropdownManual" ngbDropdownToggle></a>
              <div class="dropdown" ngbDropdownMenu aria-labelledby="dropdownManual">
                <a class="btn" style="display:block" (click)="editItem(item,content)" ngbDropdownItem>Edit</a>
              </div>
            </div>
            <div class="title">
              <div class="label">
              </div>
            </div>
            <div class="titleItem">
              <h6>{{item.name}}</h6>
              <span>Rp.{{item.price | number}}</span>
            </div>
          </div>
          <div class="items">
            <div class="item" style="min-height:0px;background-color:transparent !important">
              <div class="adminContent" style="height:50px !important">
                <div class="label-content"> {{item.desc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal #messageSwal title="" text="" type="info" [showCancelButton]="false"></swal>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Waiting...</p>
</ngx-spinner>
<div class="addItem">
  <i class="material-icons btn" (click)="addNewItem(content)">add_circle</i>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Layanan</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="saveItem(form.value)">
      <div class="form-group">
        <label>Paket Wisata</label>
        <input formControlName="name" class="form-control">
      </div>
      <div class="form-group">
          <label>Destinasi</label>
        <select formControlName="article" class="form-control" (change)="SetArticleId(form.value)" [compareWith]="compare">
          <option *ngFor="let c of Destinasi" [ngValue]="c" >{{c.title}}</option>
       </select>
      </div>
      <div class="form-group">
        <label>Harga</label>
        <input formControlName="price" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label for="agentName">Content</label>
      <editor apiKey="padqpnje8nqietax0tfdtr3vhyzl0rb62ro9uyimsmgti2y5"  formControlName='content' [init]="tinymceInit"></editor>
      </div>
    <div class="modal-footer">
      
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>

</ng-template>
