<div >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Form {{form.value.type}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="savePublish(form.value)">
      <div class="form-group">
        <label for="agentName">Judul</label>
        <input formControlName="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Tanggal</label>
        <input type="text" value="{{form.value.createdate|date:'dd MMM yyyy'}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Content</label>
        <editor apiKey="padqpnje8nqietax0tfdtr3vhyzl0rb62ro9uyimsmgti2y5"  formControlName='draft' [init]="tinymceInit"></editor>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Publis</button>
        <button type="button" (click)="saveDraft(form.value)" class="btn btn-outline-dark">Save  Draft</button>
      </div>
    </form>
  </div>
</div>
