<h2>PROFILE </h2>
<form class="row" [formGroup]="form" (ngSubmit)="save(form.value)">
  <div class="col-md-6">
    <div class="form-group">
      <label for="firstName">Nama Agent</label>
      <input formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input disabled formControlName='email' class="form-control">
    </div>
    <div class="form-group">
      <label for="contactname">Contact</label>
      <input formControlName="contactname" class="form-control">
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="address">Alamat</label>
      <textarea formControlName="address" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="telepon">Telepon</label>
      <input formControlName="telepon" class="form-control">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="profile">Content</label>
      <editor apiKey="padqpnje8nqietax0tfdtr3vhyzl0rb62ro9uyimsmgti2y5"  formControlName='profile' [init]="tinymceInit"></editor>
       
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </div>
  
</form>



<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Waiting...</p>
</ngx-spinner>
