<router-outlet></router-outlet>
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Info</h5>
        <!--headin5_amrc-->
        <p class="mb10">Alamat Kantor Dinas Pariwisata Jayawijaya</p>
        <p><i class="fa fa-location-arrow"></i>Jln. Diponegoro No 29, Wamena Kota </p>
        <p><i class="fa fa-location-arrow"></i>Wamena Kota - Kab. Jayawijaya </p>
        <p><i class="fa fa-phone"></i> 0969 - 31179 </p>
        <p><i class="fa fa fa-envelope"></i> info@visitwamana.com </p>


      </div>

      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://www.jayawijayakab.go.id">Kabupaten Jayawijaya</a></li>
          <li><a href="http://www.govisitpapua.com">Visit Papua</a></li>

        </ul>
        <!--footer_ul_amrc ends here-->
      </div>


      <div class=" col-sm-8 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">PETA</h5>
        <!--headin5_amrc-->
        <div id="map"></div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d1869.0382637945004!2d138.9448285930345!3d-4.112510162614378!2m2!1f0!2f38.68492737050145!3m2!1i1024!2i768!4f35!5e1!3m2!1sid!2sid!4v1558375091845!5m2!1sid!2sid"
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>


    </div>
  </div>


  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2019</p>

   
    <!--social_footer_ul ends here-->
  </div>

</footer>
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {
      lat: -25.344,
      lng: 131.036
    };
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
