<div class="header" *ngIf="!images">
  <img src="././assets/images/cover3.jpg">
  <div class="search">
    <app-search></app-search>
  </div>
  <div class="title">
    <div style="text-align:center">
      <strong>SELAMAT DATANG</strong>
    </div>
  </div>
</div>

<div class="header">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let item of images">
      <img [src]="item" alt="Random first slide">
      <div class="carousel-caption">
        <h2>SELAMAT DATANG</h2>
      </div>
    </ng-template>
 
  </ngb-carousel>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let item of Datas">
        <app-main-panel [DataPanel]="item"></app-main-panel>
      </div>
    </div>
    <div class="col-md-4">
      <app-berita-panel></app-berita-panel>

      <app-chat></app-chat>
      <app-statistic></app-statistic>
      <div class="col-md-12" style="margin: 20px">
        <ul class="social-network social-circle">
          <li><a href="https://web.facebook.com/pages/Dinas-kebudayaan-dan-pariwisata-kota-wamena" class="icoFacebook" title="Facebook">
              <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a></li>
          <li><a href="https://twitter.com/elegetravel/" class="icoTwitter" title="Twitter">
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a></li>
          <li><a href="https://www.instagram.com/pariwisatawamena" class="icoInstagram" title="Instagram">
              <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
