

  .userProfile{
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
    }

    position: relative;
    h5,h6{
      margin-left: 60px;
    }

    button{
      position: absolute;
      top:0px;
      right: 0px;;
    }
  }

  .listItem1{
    margin-top: 20px;
  }