<h2>TRANSAKSI</h2>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let item of Data" style="margin:3px">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <h5 ngbPanelToggle class="m-0">{{padNum(item.idtransaction,6) +'   '}}<span> {{item.tourist.name}}</span></h5>
        <div>
          <span *ngIf="item.status==='none'" class="badge badge-primary badge-pill">Menunggu Pembayaran</span>
          <span *ngIf="item.status==='Menunggu Konfirmasi'" class="badge badge-primary badge-pill">Silahkan Konfirmasi
            Pembayaran</span>
          <span *ngIf="item.status==='success'" class="badge badge-primary badge-pill">LUNAS</span>
          <button ngbPanelToggle type="button" class="btn btn-sm btn-outline-primary ml-2">></button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div class="userProfile">
        <img src="../assets/images/user1-128x128.jpg" alt="Avatar" class="avatar">
        <h5>{{item.tourist.name}}</h5>
        <h6>{{item.tourist.email}}</h6>

      </div>
      <div class="listItem1">
        <ul class="list-group">

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Paket
            <span class="badge badge-primary badge-pill">{{item.layanan.name}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Tanggal Mulai
            <span class="badge badge-primary badge-pill">{{item.start}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Tanggal Selesai
            <span class="badge badge-primary badge-pill">{{item.end}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Jumlah Paket
            <span class="badge badge-primary badge-pill">{{item.count}} Paket</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Biaya
            <span class="badge badge-primary badge-pill">Rp. {{item.count * item.layanan.price|number}}</span>
          </li>

          <ng-template #popContent>
            <h6>Bank : <span>{{item.payment.bank}}</span></h6>
            <h6>Tanggal : <span>{{item.payment.datepayment|date :'shortDate'}}</span></h6>
            <h6>Jumlah : <span>{{item.payment.amount |number}}</span></h6>
            <h6>Memo : <span>{{item.payment.memo}}</span></h6>
            <img width="200" height="150" src="{{item.payment.photo}}">
          </ng-template>
          <li *ngIf="item.payment!==null" class="list-group-item d-flex justify-content-between align-items-center">
            Detail Pembayaran
            <button class="badge badge-primary badge-pill" placement="left" title="Info Pembayaran"
              [ngbPopover]="popContent">>></button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Status Pembayaran

            <span *ngIf="item.status==='none'" class="badge badge-primary badge-pill">Menunggu Pembayaran</span>
            <span *ngIf="item.status==='success'" class="badge badge-primary badge-pill">LUNAS</span>
            <span *ngIf="item.status==='Menunggu Konfirmasi'"><button (click)="confirm(item)"
                class="btn btn-primary float-right">Konfirmasi</button></span>
          </li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
