<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (submit)="savePayment(form.value)">
    <div class="form-group">
      <label>Bank</label><input type="text" formControlName="bank" class="form-control" placeholder="Bank" />
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Tanggal Bayar</label>
      <div class="input-group">
        <input id="dateOfBirth" formControlName="tanggal" class="form-control" placeholder="yyyy-mm-dd" name="dp"
          ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Jumlah</label><input formControlName="amount" type="number" class="form-control" placeholder="Jumlah" />
    </div>
    <div class="form-group">
      <label>Memo</label><textarea  formControlName="memo" name="message" placeholder="memo"
        class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Memo</label><input name="message" 
      placeholder="Gambar" type="file" (change)="onFileChange($event)" class="form-control"/>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
        Cancel
      </button>
      <button type="submit" class="btn btn-danger" [disabled]="form.status==='INVALID'">
        Ok
      </button>
    </div>
  </form>
</div>
