.fb-profile{
    position: relative;

    .fb-image-profile{
        position: absolute;
        left: 10px;
        bottom: -50px;
    }
    .fb-image-lg{
        width: 100%;
    }
}

.transBody{
    margin: 10px;
    img{
       
        width: 150px;
        height: 150px;
    }
    .transText{
        margin-left: 10px;
    }
}