<div class="header">
  <img src="././assets/images/cover3.jpg">
  <div class="search">
    <app-search></app-search>
  </div>
  <div class="title">
    <div style="text-align:center">
      <strong>SELAMAT DATANG</strong>
    </div>
  </div>
</div>

<div class="container">
  <div class="transBody row">
    <div class="avatar" (click)="changeAvatar(idavatar)">
      <img #imgInput src="././assets/images/cover3.jpg">
      <input (change)="onChangeAvatar($event, imgInput)" #idavatar hidden id="idavalar" type="file" />
    </div>
    <div class="transText" *ngIf="touristData !== undefined">
      <h4>{{touristData.name}}</h4>
      <h6>Email:{{touristData.email}} </h6>
      <h6>Tlp:{{touristData.telepon}}</h6>
      <p>{{touristData.address}}</p>
    </div>
  </div>
  <hr />
  
  <h3>Transaksi</h3>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Tanggal</th>
        <th>Paket Layanan</th>
        <th>Agent</th>
        <th>Dari Tanggal</th>
        <th>Sampai Tanggal</th>
        <th>Biaya</th>
        <th>Status Pembayaran</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of transactions'>
        <ng-template #popContent>
          <h6>Bank : <span>{{item.payment.bank}}</span></h6>
          <h6>Tanggal : <span>{{item.payment.datepayment|date :'shortDate'}}</span></h6>
          <h6>Jumlah : <span>{{item.payment.amount}}</span></h6>
          <h6>Memo : <span>{{item.payment.memo}}</span></h6>
          <img width="200" height="150" src="{{item.payment.photo}}">
        </ng-template>
        <td>{{item.start |date:'d MMMM y'}}</td>
        <td>{{item.layanan.name}}</td>
        <td>{{item.agent.name}}</td>
        <td>{{item.start |date:'d MMMM y'}}</td>
        <td>{{item.end |date:'d MMMM y'}}</td>
        <td>Rp. {{item.layanan.price * item.count |number}}</td>
        <td>
          <span placement="top" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Pembayaran"
            *ngIf="item.status!=='none'" class="label-success">{{item.status}}</span>
          <span *ngIf="item.status==='none'" class="label label-success"><button class="btn btn-primary"
              (click)="open(item)">Verifikasi</button></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
