<div class="main">
  <div class="headercontainer">
    <img src="../assets/images/photo1.png" alt="Cinque Terre">
    <div class="center">
      <h1>DINAS PARIWISATA JAYAWIJAYA</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="dinasContent">
      <label class="label">{{Selected.title}}</label>
      <input placeholder="title" class="form-control" [(ngModel)]="Selected.title">
      <div class="form-group">
        <label for="agentName">Content</label>
        <editor style="min-height:400px" apiKey="padqpnje8nqietax0tfdtr3vhyzl0rb62ro9uyimsmgti2y5"  
        [(ngModel)]="Selected.draft" [init]="tinymceInit"></editor>
      </div>
      <button style="margin:5px" class="btn btn-primary" (click)="save(Selected,'publish')">Publis</button>
      <button class="btn btn-warning" (click)="save(Selected,'draf')">Save As Draf</button>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dinasMenu">
      <button class="btn btn-primary" (click)="getContent('profile')">Profile</button>
      <button class="btn btn-success" (click)="getContent('Visi Dan Misi')">Visi Dan Misi</button>
      <button class="btn btn-info" (click)="getContent('Struktur')">Struktur</button>
      <button class="btn btn-danger" (click)="getContent('contact')">Kontak</button>
    </div>
  </div>
</div>


<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>





