<div class="container body">
    <div  class="panel blue">
        <h3>DETAIL PESANAN</h3>
        <hr/>
        <div class="panelBody">
          <div class="items">
            <div class="item" *ngFor="let item of pesanan.layanans">
              <div class="imageCard">
                <img [src]="item.thumb">
              </div>
              <div class="content">
                <a (click)="pesanan.delete(item)" class="float-right">
                  <fa-icon class="text-danger" [icon]="['fas','trash-alt']" size="2x"></fa-icon>
                </a>
                <div><h4>{{item.name}}</h4></div>
                <div class="label label-blue">
                  <span>{{item.agent.name}}</span>
                </div>
                <div class="label-content">
                  <div>Harga : Rp. {{item.price|number}}</div>
                  <div>Jumlah : <input type="number" class="count" [(ngModel)]="item.count"> Paket</div>
                </div>
                <div class="label-content">
                    <div>Biaya  : Rp. {{item.price *item.count|number}}</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <h3>Pembayaran </h3>
        Total Biaya : Rp.  {{ pesanan.getTotal() |number }}

        <hr/>
        <h3>Cara Pembayaran </h3>
          Silahkan Transfer Pembayaran Anda Ke : 
          
          
         <h6> Lalu Confirmasi Pembayaran Anda <a href="home/profile">di sini </a></h6>

        <hr/>
        <div class="footer">
          <button *ngIf="pesanan.layanans.length>0" (click)="setuju()" class="btn btn-primary float-right">Setuju </button>
        </div>
      </div>
</div>