<div class="header">
  <img src="././assets/images/new-year-travel.jpg">
  <div class="title">
    <div style="text-align:center">
      <strong>{{Data.name}}</strong>
      <h5>{{Data.agent.name}}</h5>
    </div>
  </div>
</div>

<div class="container" style="padding:20px">
  <div class="row">
    <div class="col-md-8">
        <div class="label label-blue" style="padding: 10px !important">
            <a style="color: white" href="" (click)="showDetail(Data.article)">{{Data.article.title}}</a>
        </div> 
      <div class="mainDetail">
         
        <div [innerHTML]="Data.content">
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-default addButton" (click)="add(Data)">
          <fa-icon size='lg' class="text-success" [icon]="['fas', 'cart-plus']"></fa-icon>
          Tambah Ke Pesanan
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panelTitle purple">
          <div class="titleText">
            Agent Perjalanan
          </div>
          <hr class="panelline" />
        </div>
        <div class="panelBody">
          <div class="items">
            <div class="item" *ngFor="let item of DataAgent">
              <div class="imageCard">
                <img [src]="item.thumb">
              </div>
              <div class="content">
                <a [routerLink]='["/home/agent-detail"]' (click)='onSelectagent(item)'>
                  <h5>{{item.name}}</h5>
                </a>
                <div class="label label-purple">
                  <span>Agent</span>
                </div>
              
      
                <div class="label-content"> {{item.desc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>
