@media (max-width: 767px) {

  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  
  .nav-item{
    border: 1px solid silver;
  }
  
  .body-content {
    padding-top: 50px;
  }

  .panelMenu {
    position: absolute;
    right: 5px;
    top: 2px;
    background-color: #ee7e54;
  }

  .menuIcon {
    margin: 10px;
    position: absolute;
    right: 0px;
    color: white;
  }

  .dropdown {
    padding: 5px;
    background-color: #e86331 !important;
    color: white !important;
  }

  .panel {
    width: 100% !important;
    float: left;

    .menuIcon {
      margin: 10px;
      position: absolute;
      right: 0px;
      color: white;
    }

    .dropdown {
      padding: 5px;
      background-color: #e86331 !important;
      color: white !important;
    }
  }

  .items {
    .item {
      min-height: 85px !important;

      img {
        position: absolute;
        height: 100% !important;
        width: 100px !important;
      }

      .content {
        margin-left: 100px !important;
        padding: 10px;
      }
    }
  }


  .addItem {
    position: fixed;
    bottom: 20px !important;
    right: 30px !important;

    .material-icons {
      font-size: 40px !important;
      color: rgb(3, 82, 3);
      box-shadow: solid 10px gray;
    }
  }
}


.menuIcon {
  margin: 0px;
  right: 5px;
  color: white;
  position:absolute !important;
  top:5px;
}

.navbar-brand {
  padding:5px;
  color: white !important;
}

header {
  background-color: orangered !important;
  color: white;
}


.dropdown {
  padding: 5px;
  .btn{

  }
}

.panel {
  width: 100%;
  margin-top: 20px;
}


.imgBody {
  img {
    height: 200px;
  }

}

.adminContent {
  position: relative;
  padding: 10px;
  height: 200px;

  .dateItem {
    position: absolute;
    bottom: 0px;
    padding: 10px;
  }
}


.label {
  font-size: 14px;
}

.addItem {
  position: fixed;
  bottom: 20px;
  right: 20px;

  .material-icons {
    font-size: 60px;
    color: rgb(3, 82, 3);
    box-shadow: solid 10px gray;
  }
}


.createArticle {
  margin-top: 20px;

  input {
    margin-bottom: 10px;
  }

  textarea {
    margin-bottom: 10px;
    min-height: 450px;
  }

  .comandarea {
    display: inline;

    button {
      margin-right: 5px;
    }
  }
}


.list-group-item-action{
  color: white;
}


body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  background-color: #e86331;
  color:silver;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: #e86331;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 100px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
