<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ">
        <div class="logo text-center">
            <a [routerLink]="['']">
                <div class="col-md-12">
                  <img style="width: 50%;margin:20px" src="../../../assets/images/logojw.png" />
                </div>
                <h3 class="text-center whiteColor">Dinas Pariwisata</h3>
                <h3 class="text-center">Kab. Jayawijaya </h3>
              </a>
        </div>
      </div>
      <div id="login-form" class="col-md-7">
        <h2 class="text-left text-info">Login</h2>
        <form [formGroup]="loginForm" class="form" (ngSubmit)="login(loginForm.value)">

          <div class="form-group">
            <label for="username" class="text-info">Username:</label><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="['fas','user']"></fa-icon>
                </span>
              </div>
              <input formControlName='userName' type="text" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="username" class="text-info">Password:</label><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="['fas','lock']"></fa-icon>
                </span>
              </div>
              <input formControlName='password' type="password" class="form-control">
            </div>
          </div>

          <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{message}}</ngb-alert>
          <div class="form-group">

            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me"
                  name="remember-me" type="checkbox"></span>
            </label><br>
            <input type="submit" name="submit" class="btn btn-info btn-md" value="Login" [disabled]="!loginForm.valid">
          </div>
          <div id="register-link" class="text-right">
            <a href="/user/reset">Forgot Password</a>
          </div>
          <div id="register-link" class="text-right">
            <a href="/user/register" class="text-info">Register</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
