<div class="header">
  <img src="././assets/images/slide3.jpg">
  <div class="search">
      <app-search (searchEvent)="onSearchHandle($event)"></app-search>
  </div>
  <div class="title">
    <div style="text-align:center">
      <strong>KULINER</strong>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel">
    <div class="panelBody">
      <div class="items">
        <div class="item" *ngFor="let item of Data.datas">
            <div class="imageCard">
                <img [src]="item.thumb">
             </div>
          <div class="content">
            <h5>{{ item.title }}</h5>
            <div class="label label-orange">
              <span>Destinasi</span>
            </div>Admin, {{item.createdate | date : 'd MMM y'}}
            <div class="desc">
              <p>{{item.desc}}</p>
            </div>
            <div class="label-content">
              <button class="btn" (click)="showDetail(item)">Read</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
