
a{
  color: 1px white !important;
}

.headercontainer {
  position: relative;
  height: 300px;
  color: white;
}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  clear: both;
}

.dinasMenu {
  padding: 5px;

  button {
    width: 100%;
    margin: 5px;
    height: 60px;
  }
}

.dinasContent {
  padding: 20px;
  min-height: 500px;
}



.addItem {
  position: fixed;
  bottom: 20px !important;
  right: 30px !important;

  .material-icons {
    font-size: 40px !important;
    color: rgb(3, 82, 3);
    box-shadow: solid 10px gray;
  }
}





body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  background-color: #e86331;
  color:silver;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: #e86331;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 100px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
