
<body>
  <header>
    <div class="headercontainer">
      <img src="../assets/images/photo1.png" alt="Cinque Terre">
      <div class="center">
        <h1>{{Datas.name}}</h1>
      </div>
    </div>
  </header>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">  <a style="color: white" [routerLink]='["/"]'>Home</a>
        </div>
      <div class="list-group list-group-flush ">
          <a style="color: white" class="list-group-item list-group-item-action bg-dark"
          [routerLink]='["/agent/layanan"]'>Layanan</a>
           
           <a style="color: white"  class="list-group-item list-group-item-action bg-dark"
           [routerLink]='["/agent/transaksi"]'>Transaksi</a>

           <a  style="color: white" class="list-group-item list-group-item-action bg-dark"
           [routerLink]='["/agent/profile"]'>Profile</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      </nav>

      <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
 

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>