<swal #messageSwal title="" text="" type="info" [showCancelButton]="false"></swal>

<ng-template class="modal" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="agentForm" (ngSubmit)="saveChange(agentForm.value)">
      <div class="form-group">
        <label for="agentName">Nama Agent</label>
        <input formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Email</label>
        <input formControlName='email'  class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Nama Pemilik</label>
        <input formControlName="contactname" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Alamat</label>
        <input formCon  trolName="address" class="form-control">
      </div>
      <div class="form-group">
        <label for="agentName">Telepon</label>
        <input formControlName="telepon" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>



<h2>AGENT PERJALANAN</h2>
<div class="adminpanel">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of agents">
      <div class="panel border-top border-right box-shadow">
        <div class="panelBody ">
          <div class="imgBody">
            <div class="title">
              <div class="label">
                <h4>{{item.name}}</h4>
              </div>
            </div>
            <div class="menuIcon" placement="bottom-right" ngbDropdown #myDrop="ngbDropdown">
              <a class="btn" id="dropdownManual" ngbDropdownToggle></a>
              <div class="dropdown" ngbDropdownMenu aria-labelledby="dropdownManual">
                <a class="btn" (click)="editItem(item,content)" ngbDropdownItem>Edit</a>
              </div>
            </div>
          </div>
          <div class="items">
            <div class="item">
              <div class="adminContent">
                <div class="label-content"><h6> Pimilik :  {{item.contactName}}</h6></div>
                <div class="label-content"><h6> Adress  :  {{item.address}}</h6></div>
                <div class="label-content"><h6> Telepon :  {{item.telepon}}</h6></div>
                <div class="dateItem">
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
          
  </div>

  <div class="addItem">
    <i class="material-icons btn" (click)="open(content)">add_circle</i>
  </div>

</div>
