<div *ngIf="!showLoginForm" class="panel" >
  <h6> <span *ngIf="auth.hasLogin() && auth.IsInRole('tourist')">
      <a class="nav-link" [routerLink]="['profile']">Hai {{auth.userName()}}</a>
   </span></h6>
  <div class="panelBody">
    <div class="items">
      <div class="item" *ngFor="let item of pesanan.layanans">
        <div class="imageCard">
          <img [src]="item.thumb">
        </div>
        <div class="content">
          <a (click)="pesanan.delete(item)" class="float-right">
            <fa-icon class="text-danger" [icon]="['fas','trash-alt']" size="2x"></fa-icon>
          </a>
          <div style="margin-bottom: 2px;">{{item.name}}</div>
          <div class="label label-blue">
            <span>{{item.agent.name}}</span>
          </div>
          <div class="label-content">
            <div>Price : Rp. {{item.price|number}}</div>
            <div>Count : {{item.count|number}} Paket</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button *ngIf="pesanan.layanans.length>0" (click)="nextProccess()" class="btn btn-primary float-right">Lanjutkan
      Pesanan</button>
  </div>
</div>

<form *ngIf="showLoginForm" [formGroup]="loginForm" class="form" (ngSubmit)="login(loginForm.value)">
    <h5 class="text-info">Login</h5>
  <div class="form-group">
    <label for="username" class="text-info">Username:</label><br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <fa-icon [icon]="['fas','user']"></fa-icon>
        </span>
      </div>
      <input formControlName='userName' type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="text-info">Password:</label><br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <fa-icon [icon]="['fas','lock']"></fa-icon>
        </span>
      </div>
      <input formControlName='password' type="password" class="form-control">
    </div>
  </div>

  <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{message}}</ngb-alert>
  <div class="form-group">
    
    <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me"
          type="checkbox"></span></label>
  
    <div class="form-inline">
      <input type="submit" name="login" class="btn btn-info btn-md" value="Login" [disabled]="!loginForm.valid">
      <input type="button" name="cancel" class="btn btn-warning btn-md" value="Batal" (click)="cancel()">
    </div>
    <div id="register-link" class="float-right">
        <a href="/user/register" class="text-info">Register</a>
    </div>
    <br>
  </div>

</form>







 





























<style>
  img {
    max-width: 80px !important;
  }

  .content {
    margin-left: 85px !important;
    font-size: 11px !important;
  }

  .label {
    font-size: 10px !important;
  }

  .item {

    min-height: 50px !important;
    max-height: 100px !important;
  }

</style>
