<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button> <a class="navbar-brand" href="#"> Pariwisata Jayawijaya</a>


  <div class="collapse navbar-collapse bg-info" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['berita']">
          <fa-icon [icon]="['fas', 'newspaper']"></fa-icon> Berita
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['kuliner']">
          <fa-icon [icon]="['fas', 'utensils']"></fa-icon>Kuliner
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['destinasi']">
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>Destinasi
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['akomodasi']">
          <fa-icon [icon]="['fas', 'hotel']"></fa-icon>Akomodasi
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['agent']">
          <fa-icon [icon]="['fas', 'hotel']"></fa-icon>Paket Wisata
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['dinas']">
          <fa-icon [icon]="['fas', 'building']"></fa-icon>Dinas
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li  class="nav-item active d-inline-block" ngbDropdown
        placement="bottom-right" class="" autoClose="outside">
        <a class="nav-link" id="dropdownForm1" ngbDropdownToggle><span class="badge badge-danger">{{pesanan.count()}}</span> Pesanan </a>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="background-color: #263238">
          <form class="px-4 py-3" style="width:400px">
            <app-menu-pesanan></app-menu-pesanan>
          </form>
        
        </div>
      </li>
      <li>
        <a class="nav-link btn btn-primary" (click)="auth.logout()" *ngIf="auth.hasLogin()">
          Logout
        </a>
      </li>
      <li>
        <button *ngIf="!auth.hasLogin()" type="submit" class="btn btn-primary" [routerLink]="['/user/login']">
          Sign in
        </button>
      </li>
    </ul>

  </div>

</nav>
