.bg-info {
  background-color: #2d89ef !important;
}

nav{
  height:80px;
}

.navbar-nav{
background-color: #2d89ef;
padding: 15px;
}

.footer {
  padding: 10px;

  button {
    display: inline;
  }
}


.form-inline{
  input{
    margin: 3px;
  }
}
