<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ">
        <div class="logo text-center">
            <a [routerLink]="['']">
                <div class="col-md-12">
                  <img style="width: 50%;margin:20px" src="../../../assets/images/logojw.png" />
                </div>
                <h3 class="text-center text-info">Dinas Pariwisata</h3>
                <h3 class="text-center text-info">Kab. Jayawijaya </h3>
              </a>
        </div>
      </div>
      <div id="login-form" class="col-md-7">
        <h2 class="text-left text-info">Forgot Password</h2>
        <form [formGroup]="loginForm" class="form" (ngSubmit)="Reset(loginForm.value)">
          <div class="form-group">
            <label for="username" class="text-info">Email:</label><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon [icon]="['fas','user']"></fa-icon>
                </span>
              </div>
              <input formControlName='email' type="text" class="form-control">
            </div>
          </div>
          <div class="form-group ">
            <button class="btn btn-info pull-right">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<swal #swalMessage title="" text="" type="info" [showCancelButton]="false"></swal>
