<div class="header">
  <img src="././assets/images/cover4.jpg">
  <div class="search">
    <app-search (searchEvent)="onSearchHandle($event)"></app-search>
  </div>
  <div class="title">
    <div style="text-align:center">
      <strong>AGENT PERJALANAN</strong>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <app-home-agent-layanan></app-home-agent-layanan>
     

    </div>
    <div class="col-md-5">
      <div class="panel">
        <div class="panelTitle purple">
          <div class="titleText">
            Agent Perjalanan
          </div>
          <hr class="panelline" />
        </div>
        <div class="panelBody">
          <div class="items">
            <div class="item" *ngFor="let item of Data">
              <div class="imageCard">
                <img [src]="item.thumb">
              </div>
              <div class="content">
                <a [routerLink]='["/home/agent-detail"]' (click)='onSelectagent(item)'>
                  <h5>{{item.name}}</h5>
                </a>
                <div class="label label-purple">
                  <span>Agent</span>
                </div> 
                <div class="label-content"> {{item.desc}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
