<div class="panel blue" *ngIf="isActive">
  <div class="panelBody">
    <div class="items">
      <div class="item" *ngFor="let item of Data">
        <div class="imageCard">
          <img [src]="item.thumb">
        </div>
        <div class="content">
          <a [routerLink]='["/home/layanan-detail"]' (click)='onSelectLayanan(item)'>
            <h5>{{item.name}}</h5>
          </a>
          <div class="label label-blue">
            <span>{{item.agent.name}}</span>
          </div> 
         



          <div class="label-content"> 
            <h6>Price : Rp. {{item.price|number}} 
               <a (click)="addPesanan(item)"><fa-icon class="text-success" [icon]="['fas', 'cart-plus']"></fa-icon></a></h6>
            {{item.desc}} 
            <a [routerLink]='["/home/layanan-detail"]' (click)='onSelectLayanan(item)'>
            <strong>Read More....</strong></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
