$color-blue1: #2b5797;
$color-blue2: #2d89ef;
$color-orange2: #e3a21a;
$color-orange1: #da532c;
$color-greeen2: #99b433;
$color-greeen1: #00a300;
$color-purple1: #7e3878;
$color-purple2: #9f00a7;

html,
body {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 767px) {

  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 20px;
  }

  .imgBody {
    visibility: hidden;
    display: none;
  }

  .items {
    .item {
      min-height: 85px;
      margin-bottom: 10px !important;

      .imageCard {
        position: relative !important;
        height: 110px !important;
        width: 100% !important;
      }

      .content {
        margin-left: 0px !important;
      }
    }
  }

  a {
    strong {
      display: none;
      visibility: hidden;
    }
  }
}

.img {
  opacity: 1;
}

.search {
  position: absolute;
  right: 5px;
  bottom: 40px;
}


.items {
  position: relative;

  .item {
    background-color: whitesmoke;
    position: relative;
    margin: 5px 0px 5px 0px;
    min-height: 130px;
    overflow: hidden;

    .imageCard {
      position: absolute;
      height: 100%;
      width: 150px;
      margin: 0 auto;

      img {
        height: 100%;
        width: 100%;

        &:hover {
          transform: scale(1.08);
          /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
      }
    }

    .content {
      font-size: 13px;
      margin-left: 150px;
      padding: 10px;

      a {
        &:hover {
          color: $color-blue2;
        }

        position:relative;
      }
    }
  }
}


.header {
  position: relative;
  padding: 0px;

  .title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
  }

  img {
    width: 100%;
    height: 500px;
  }
}

.label-content {
  margin-top: 10px;
}

.label {
  display: inline;
  padding: 5px;
  padding-right: 5px;
  color: white;
}

.label-orange {
  background-color: $color-orange2;
  display: inline;
  padding: 5px;
  padding-right: 15px;
}

.label-blue {
  background-color: $color-blue2;
  display: inline;
  padding: 5px;
  padding-right: 15px;
}


.label-green {
  background-color: $color-greeen2;
  display: inline;
  padding: 5px;
  padding-right: 15px;
}


.label-purple {
  background-color: $color-purple2;
  display: inline;
  padding: 5px;
  padding-right: 15px;
}

.orange {
  .titleText {
    background-color: $color-orange1;
  }

  hr {
    color: $color-orange2;
  }
}

.blue {
  .titleText {
    background-color: $color-blue1;
  }

  .panelline {
    color: $color-blue2;
  }
}

.green {
  .titleText {
    background-color: $color-greeen1;
  }

  .panelline {
    color: $color-greeen2;
  }
}

.purple {
  .titleText {
    background-color: $color-purple1;
  }

  .panelline {
    color: $color-purple2;
  }
}

.panel {
  position: relative;
  padding: 5px;
  margin-bottom: 40px;

  .panelTitle {
    .titleText {
      font-size: 17pt;
      padding: 10px;
      max-width: 200px;
      color: white;
    }

    .panelline {
      height: 1px;
      border: 0;
      padding: 0;
      margin: 0px;
      margin-bottom: 5px;
      border-top: 3px solid;

    }
  }

  .panelBody {
    .title {
      color: white;
      font-size: 30px;
      padding: 25px;
      position: absolute;
      top: 0px;
      text-shadow: whitesmoke;
    }
  }
}

.imgBody {
  position: relative;
  background-color: rgba(190, 236, 221, 0.418);

  .titleItem {
    padding: 5px;
    position: absolute;
    bottom: 2px;
    height: auto;
    color: white;
  }

  img {
    width: 100%;
    max-height: 400px;
  }
}


.dropdown {
  color: black;
  .dropdown-menu {
    background-color: #9fc1e7;
  
  }

  .btn {
    display: block;
    text-align: left;
  }
}
